@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(../img/bg.jpg);
    background-position: cover;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
p ,ul{
    font-family: 'Share Tech', sans-serif;
}
.section{
    margin: 80px 0px;
}
.section__title{
    border-bottom: #222222 solid 3px;
}
/* Intro */
.perfil {
    border: 4px solid black;
    border-radius: 50%;
    border-top-left-radius: 1%;
    transition: .5s;
}
.perfil:hover {
    border-top-left-radius: 50%;
    transition: .5s;
}


/* Proyectos */

.proyectos-box .box{
    background: rgba(255, 255, 255, 0.582);
    border: solid black 2px;
    border-radius: 1%;
    padding: 0px 0px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    overflow: hidden;
    max-height: 220px;
}

.proyectos-box .box:hover{
    background: #FFF;
    box-shadow: 0 0 6px #4183D7;
    max-height: 600px;
}
.proyectos-box .box .box-title {
    font-family: 'Share Tech', sans-serif;
    text-align: center;
    padding-top: 10px;
}

.proyectos-box .box .box-text{
    margin:20px 0px;
    font-size: 15px;
    line-height: 30px;
    padding: 0px 10px;
}

.proyectos-box .box .box-btn a{
    text-decoration: none;
    color: #4183D7;
    font-size: 16px;
}