@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

html{
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(../img/bg.jpg);
    background-position: cover;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p, ul, h1, h2, h3, h4, form {
    font-family: 'Baloo Tammudu 2', cursive;
}

.section{
    margin: 20px 0px;
}
.section__title{
    border-bottom: #222222 solid 3px;
}

/* Intro */

.intro-row {
    min-height: 90vh;
}
.perfil {
    border-radius: 50%;
    border-top-left-radius: 1%;
}

/* Proyectos */

.proyectos-box .box{
    background: rgba(255, 255, 255, 0.582);
    border-radius: 1%;
    padding: 0px 0px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    overflow: hidden;
}

.proyectos-box .box h3 {
    text-align: center;
    padding-top: 10px;
}

.proyectos-box .box:hover{
    background: #FFF;
    -webkit-box-shadow: 17px 15px 25px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 15px 25px -15px rgba(0,0,0,0.75);
    box-shadow: 17px 15px 25px -15px rgba(0,0,0,0.75);
}

.proyectos-box .box .box-text{
    margin:20px 0px;
    font-size: 15px;
    line-height: 30px;
    padding: 0px 10px;
}

.proyectos-box .box .box-content{
    max-height: 50px;
    transition: all 0.8s ease-out;
}

.proyectos-box .box:hover .box-content {
    max-height: 600px;
}

.proyectos-box .box .box-btn{
    text-align: center;
    padding: 10px;
}

.proyectos-box .box .box-btn a{
    text-decoration: none;
    color: #4183D7;
    font-size: 16px;
}

/* Contact me  */
.form{
    width: 100%;
}
.form button {
    padding: 8px 10px 0px 10px;
    background-color: #dccf4c;
    transition: .5s all;
    outline: none !important;
}
.form button:hover {
    background-color: #1f1f1f;
    color: #dccf4c;
}
.form input, .form textarea{
    display: block;
    background: #22222277;
    border: none;
    border-bottom: black solid 2px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    color: white;
}
.form input:focus, .form textarea:focus{
    outline: none;
} 
.form input::placeholder, .form textarea::placeholder{
    color: white;
}

.contact__info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100%;
}
.contact__info li{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
    width: 100%;
    padding: 20px 10px 15px 10px;
    margin-bottom: 15px;
}
.contact__info li i {
    font-size: 40px;
    margin-right: 30px;
}
.contact__info li i.fa-mobile-alt{
    padding-right: 50px;
}